:root {
  --primary: #cf027e;
  --primary-text: #fff;
  --secondary: #cf027e;
  --secondary-text: #fff;
  --accent: #fff;
  --accent-text: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');